extends layouts/main-layouts.pug

block content
    form(action="/admin/add-product", method="post")
        input(type="text" , name='productName')
        input(type="submit", value="Add Product")                